In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Dairy,249.8092,OUT049,Tier 1,Supermarket Type1,3735.1380
1,Soft Drinks,48.2692,OUT018,Tier 3,Supermarket Type2,443.4228
2,Meat,141.6180,OUT049,Tier 1,Supermarket Type1,2097.2700
3,Fruits and Vegetables,182.0950,OUT010,Tier 3,Grocery Store,732.3800
4,Household,53.8614,OUT013,Tier 3,Supermarket Type1,994.7052

In [4]:
df.describe()

          Item_MRP  Item_Outlet_Sales
count  8523.000000        8523.000000
mean    140.992782        2181.288914
std      62.275067        1706.499616
min      31.290000          33.290000
25%      93.826500         834.247400
50%     143.012800        1794.331000
75%     185.643700        3101.296400
max     266.888400       13086.964800

In [ ]:
import ydata_profiling as pp